<!DOCTYPE html>
<html lang="en" style="background-image: url(assets/images/burgerPhoto.jpg);">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<title>Burger Burger Burger!!!</title>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/assets/js/burger.js"></script>
</head>

<body class="container">
	{{!-- Where index.handlebars will be inserted --}}
	{{{ body }}}
</body>
{{!-- footer has credit for background image --}}
<footer>
	<span>Photo by </span><a href="https://unsplash.com/@pablomerchanm">Pablo Merchán Montes</a><span> on
		Unsplash</span>
</footer>

</html>