<h1 class="title">Burger Burger Burger!!!</h1>
<div class="is-parent tile level columns">
  <div class="level-left column">
    <section class="section notDevoured tile is-child level-item">
      <h2 class="subtitle">Burgers not yet Devoured!</h2>
      {{!-- Places partial here if meets condition of "eaten=true" --}}
      <ul>
        {{#each burgers}}
        {{#unless devoured}}
        {{> burgers/burger-block eaten=true}}
        {{/unless}}
        {{/each}}
      </ul>

    </section>
  </div>
  <div class="level-right column">
    <section class="section devoured tile is-child level-item">
      <h2 class="subtitle">Devoured Burgers!</h2>
      {{!-- Places partial here if meets condition of "eaten=false" --}}
      <ul>
        {{#each burgers}}
        {{#if devoured}}
        {{> burgers/burger-block eaten=false}}
        {{/if}}
        {{/each}}
      </ul>
    </section>
  </div>
</div>
{{!-- Form for new burger --}}
<form class="create-form is-center">
  <h2>Add a Burger!</h2>
  <div class="form-group">
    <label class="subtitle" for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add Burger!</button>
</form>