li {
  padding: 8px;
  margin: 8px;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}
body{
  text-align: center;
}
.notDevoured {
  background-color: rgba(118, 157, 248, 0.6);
}
.devoured {
  background-color: rgb(128, 128, 128, .6);
}
html {
  
  background: no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: contain;
  background-color: black;
}
h1, h2, .title, .subtitle {
  color: white;
}
.create-form {
  background-color: rgba(103, 143, 108, 0.6);
  width: 30%;
}
li {
  color: white;
}
html, body {
  height: 100%;
}
footer{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2.5rem;
  text-align: left;
}
.title {
  margin-top: 10px;
}